---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import styles from './Header.module.scss';
---

<header className={styles.header}>
    <nav className={styles.nav}>
        <a className={styles.title} href="/">{SITE_TITLE}</a>
        <div className={styles.internalLinks}>
            <HeaderLink className={styles.link} href="/about">O nas</HeaderLink>
            <div className={styles.dropdown}>
                <div className={styles.dropdownToggle}>Podopieczni</div>
                <div className={styles.dropdownMenu}>
                    <a className={styles.link} href="/dog">Psy</a>
                    <a className={styles.link} href="/cat">Koty</a>
                </div>
            </div>
            <HeaderLink className={styles.link} href="/howToHelp">Jak pomóc?</HeaderLink>
            <HeaderLink className={styles.link} href="/contact">Kontakt</HeaderLink>
        </div>
    </nav>
</header>
