---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import styles from './Header.module.scss';
---

<header className={styles.header}>
    <nav className={styles.nav}>
        <h2 className={styles.title}>
            <a href="/">{SITE_TITLE}</a>
        </h2>
        <div className={styles.internalLinks}>
            <HeaderLink href="/about" className={styles.link}>O nas</HeaderLink>

            <div className={styles.dropdown}>
                <button className={styles.dropdownToggle}>Podopieczni</button>
                <div className={styles.dropdownMenu}>
                    <a href="/dog" className={styles.link}>Psy</a>
                    <a href="/cat" className={styles.link}>Koty</a>
                </div>
            </div>

            <HeaderLink href="/howToHelp" className={styles.link}>Jak pomóc?</HeaderLink>
            <HeaderLink href="/contact" className={styles.link}>Kontakt</HeaderLink>
        </div>
    </nav>
</header>
